<section id="latest-news">
    <a href="#latest-news" id="latest-news-link" class="section-heading">Latest News</a>
    <p>Stay updated with the latest sports news from around the world.</p>
    <div class="feature">
        <img src="/images/nadal.jpg" alt="Latest News">
    </div>
</section>
