<section id="player-stats">
    <a href="#player-stats" class="section-heading">Player Stats</a>
    <p>Access detailed statistics and profiles of your favorite players.</p>
    <div class="feature">
        <img src="/images/ronaldo.jpg" alt="Player Stats">
    </div>
</section>
